@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
}

/* Date Picker Custom css */
.react-datepicker-wrapper {
  width: 100% !important;
}

/* pagination custom css */
.item {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  color: black;
  width: 35px;
  height: 35px;
  font-size: 18px;
}

.active {
  background: black;
  border: solid 1px black;
  border-radius: 40px;
  color: white;
}

.pagination {
  align-items: center;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.swiper-button-prev,
.swiper-button-next {
  width: 28px !important;
  height: 28px !important;
  background-color: black;
  color: white !important;
  border-radius: 5px;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}
